.git
.gitignore
.venv
venv
env
__pycache__
*.pyc
*.pyo
*.log
.env
.env.*
!.env.example
db.sqlite3
staticfiles
media
*.md
!DEPLOIEMENT_DOCKER_SYNOLOGY.md
terminals
.idea
.vscode
*.xlsx
*.docx
*.csv
*.backup
aquademie_db.backup
